/*
================================================
1. Fonts - Raleway and Opensans
================================================
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,500,600,700,800,900');
/*
================================================
2. Common CSS
================================================
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	text-transform: none;
	line-height:23px;
}
h5 {
  font-size: 18px;
}
h6 {
    font-size: 16px;
}
h4{
font-weight:600;
}
p{
font-size:13px;
color:#666;
}
.font-weight{
font-weight:600;
}
.font-weight-h{
font-weight:800;
}
.color-g{
color:#777;
}
.color-y{
color:#cc2128;
}
.color-w{
color:#fff;
}
.text-transform{
text-transform:uppercase;
}
a, a:hover, a:active, a:focus {
	outline: none;
	border: none;
	font-family:Montserrat,sans-serif;	
	text-decoration:none;
}
a {
	
	transition: all 0.3s ease 0s;
}
a:focus, a:hover {
	color: #101010;
}
body, html {
	height: 100%
}
section {
    width: 100%;
    float: left;
    padding: 80px 0;
}
.section-title {
    text-align: center;
    margin: 0 0 25px;
}
section h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	text-align: center;
	padding: 12px 10px 10px;
}
.section-title h2 {
	font-size: 35px;
	letter-spacing: 1.2px;
	padding:0 0 10px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom:15px;
	position:relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.alpha-50 {
    opacity: 0.5;
}
.prl-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.ptb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.ptb-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.t-uppercase {
    text-transform: uppercase;
}
.font-55 {
    font-size: 55px !important;
}
.font-40 {
    font-size: 40px !important;
}
.font-30 {
    font-size: 30px !important;
}
.font-20{
font-size:20px;
}
a.btn{
border: 1px solid #ffffff;
color: #ffffff;
padding: 12px 20px;
}
a.btn:hover{
background:#cc2128;
color:#fff;
}
.margin-bottom-1 {
    margin-bottom: 10px;
}
.margin-bottom-2{
margin-bottom:30px;
}
.padding-1{
padding:10px;
}
.padding-2{
padding:20px;
}
.text-color{
color:#FFFFFF;
}
.space{
padding-bottom:40px;
}
.line-height-1{
line-height:23px;
}
.line-height-2{
line-height:27px;
}
.bx-shadow{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.padding-no{
padding:0;
}
/*
================================================
 Dots
================================================
*/

.dots,
.dots:before,
.dots:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 999px;
}
.dots {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
.dots:before,
.dots:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.dots:before {
  right: 15px;
}
.dots:after {
  left: 15px;
}
.dots.dots--small,
.dots.dots--small:before,
.dots.dots--small:after {
  width: 5px;
  height: 5px;
}
.dots.dots--small {
  margin-right: 12px;
  margin-left: 12px;
}
.dots.dots--small:before {
  right: 12px;
}
.dots.dots--small:after {
  left: 12px;
}
.dt-theme {
    background-color: #cc2128 !important;
}
/*
================================================
3. Loader CSS
================================================
*/
#loader {
	background: url(../images/loader.gif) no-repeat center center #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999;
}
/*
================================================
4. header-top-area
================================================
*/
.header-top-area {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transition: .4s;
	transition: .4s;
}
.logo a {
	font-size: 24px;
	font-weight: 700;
	color: #cc2128;
	letter-spacing: 2px;
	text-transform:uppercase;
}
.logo {
	padding-top: 35px
}
/*
================================================
5. Navigation
================================================
*/
.menu-bg {
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.menu-bg .logo {
  padding-top: 18px;
  transition: all 0.3s ease 0s;
}
.navbar-default {
	background-color: inherit;
	border-color: inherit;
}
.navbar {
	border-radius: 0;
	min-height: auto;
	margin: 0;
	border: none;
	z-index: 9;
}
.navbar-collapse {
	float: right;
	margin:0;
	padding: 0;
}
.navbar-brand {
	padding: 0;
	height: auto;
}
.navbar-nav > li {
	padding: 0;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 17px 13px;
  transition: all 0.3s ease 0s;
  text-transform:uppercase;
}
.menu-bg .navbar-default .navbar-nav li a {
  padding: 20px 10px;
  transition: all 0.3s ease 0s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: inherit;
	color:#cc2128;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #cc2128;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #cc2128;
}
.menu-bg .logo a, .menu-bg .navbar-default .navbar-nav li a:hover {
  color: #cc2128;
}
.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #fff;
    border: none;
}
.menu-bg .navbar-nav li a{
color:#666;
}
/*
================================================
6. Slider Area
================================================
*/
/*Version-2*/

.affix + .banner-wrapper {
  margin-top: 49px;
}
.welcome-hero-area, .home-slider-area, .home-slider-area div {
	height: 100%
}
.welcome-hero-area div.single-slide-item-table-cell, .welcome-hero-area div.single-slide-item-table-cell div {
  height: auto;
}
.single-slide-item-table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}
.single-slide-item-table {
	display: table;
	width: 100%
}
a.slide-btn {
	color: #fff;
	display: inline-block;
	font-weight: 400;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	padding: 12px 20px;
	width: 160px;
	transition: .5s;
	text-transform:uppercase;
}
a.slide-btn:hover {
	opacity:0.6;
	border: none
}
.single-slide-item h2 {
	font-size: 90px;
	color: #ffffff;
	line-height: 70px;
	margin-bottom: 20px
}
.single-slide-item h2 span {
	font-size: 70px;
}
.single-slide-item p {
	color: #ffffff;
    padding-bottom: 20px;
    font-size: 18px;
    width: 50%;
    margin: auto;
}
.fixed-bg {
	background-attachment: fixed!important
}
.slide-1, .text-slide {
	background: url(../images/slider/slider-1.jpg);
	background-size: cover
}
.slide-2 {
	background: url(../images/slider/slider-2.JPG);
	background-size: cover
}
.slide-3 {
	background: url(../images/slider/slider-3.JPG);
	background-size: cover
}
.slide-4 {
	background: url(../images/slider/slider-4.JPG);
	background-size: cover
}
.single-slide-item {
	position: relative;
	z-index: 1
}
.single-slide-item:after {
	background: rgba(0, 0, 0, 0.14);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}
a.welcome-control:focus, a.welcome-control:hover i {
	color: #cc2128;
}
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.carousel-fade .carousel-control {
	z-index: 2
}
.welcome-control {
	background: 0 0!important;
	border: 1px solid #ddd;
	color: #fff;
	font-size: 24px;
	height: 50px;
	left: 0;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	z-index: 20
}
.service-icon i, .single-featured i {
	border-radius: 50%;
	text-align: center
}
.right.welcome-control {
	left: auto;
	right: -52px
}
.left.welcome-control {
	left: -52px
}
.home-slider-area:hover .right.welcome-control {
	right: 30px;
	transition: .25s;
	-webkit-transition: .25s;
	border:1px solid #fff;
}
.home-slider-area:hover .left.welcome-control {
	left: 30px;
	transition: .25s;
	-webkit-transition: .25s;
	border:1px solid #fff;	
}
.featured-area {
	overflow: hidden
}
.single-featured {
	cursor: pointer
}
.single-featured h4 {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px
}
.single-featured i {
	background: #687074;
	color: #fff;
	display: block;
	font-size: 35px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto 10px;
	width: 80px
}
.service-icon i, a.about-btn, a.get-start-btn, ul.team-social>li, ul.work li {
	display: inline-block
}
.single-featured:hover i {
	background: #33d685;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s
}
.home-slider-area .carousel-indicators {
  display: none;
}
/*
================================================
7. Animated headline-text
================================================
*/
/*Version-3*/
.slider-sec{
text-align:center;
position: relative;
    background:url(../images/banner1.jpg);
    background-size: cover;
    z-index: 1;
}
.slider-sec h1{
color:#FFFFFF;
}
.slider-sec-text{
padding:160px 0px 90px 0px;
}
a.btn-slider{
border: 1px solid #fff;
    color: #FFFFFF;
    padding: 12px 20px;
}
a.btn-slider:hover{
color:#fff;
background:#2d61e9;
border:1px solid #2d61e9;
}

/*
================================================
8. Slider image Area
================================================
*/
/*Version-5*/
.banner-area {
   text-align:center;
position: relative;
    background:url(../images/1.jpg);
    background-size: cover;
    z-index: 1;
	
}
.banner-text {
        padding: 160px 0px 0px 0px;
}

.banner-text h1 {
    font-size: 60px;
}

.banner-text h2 {
    margin-bottom: 10px;
    text-transform: capitalize;
}
.banner-area .btn {
    margin-top: 30px;
}

.particle-area {
   text-align:center;
	position: relative;
    background:url(../images/2.jpg);
    background-size: cover;
    z-index: 1;	
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/*
================================================
9. About Us
================================================
*/
.aboutus{
text-align:center;
}
.aboutus .sec {
	    width: 100%;
    float: left;
    padding: 20px;
    background-color: #fff;
}
.aboutus .sec-box i {
	font-size: 35px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	width: 64px;
	border-radius: 100%;
	color: #2d61e9;
	border: 1px solid #f1f1f1;
	transition: background-color 400ms, background-color 400ms;
	position: relative;
}
.aboutus .sec:hover {
	box-shadow: 0px 10px 10px 7px rgba(0,0,0,0.05);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
/*
================================================
 About Us-2
================================================
*/
.aboutus-2{
padding:40px 0px;
}
.aboutus-2 h1{
line-height: 40px;
    font-weight: 800;
    font-size: 36px;
}
.display-table-cell {
    display: table-cell !important;
}
.vertical-align-middle {
    vertical-align: middle;
}
.width-100 {
    width: 100%;
}
.aboutus-2 a.main-btn:hover{
color:#777;
}
a.main-btn{
color:#cc2128;
}
.padding-twelve-lr {
   line-height: 26px;
   } 
/*
================================================
10. Services
================================================
*/
.services{
text-align:center;
}
.services .item {
    padding: 15px;
    min-height: 150px;
    margin-bottom: -20px;
    text-align: center;
}
.services .item i {
    font-size: 45px;
    color: #cc2128;
}
.services .item h3 {
    margin: 15px 0 10px 0;
    font-size: 15px;
}
.services .item p {
    font-size: 13px;
    color: #888;
}
img.img-service {
    width: 35%;
}
.white {
  color: #cc2128;
  font-weight: 100;
  text-align: center;
}
.fa-chevron-left {
  opacity: 0.3;
  cursor: default;
}
#previous {
  display: block;
  position: absolute;
    left: -50px;
    top: 50%;
}
 
#next {
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
}
#service1 {
  display: block;
}
 
#service2, #service3  {
  display: none;
}


/*
================================================
11. Portfolio
================================================
*/
.portfolio {
	clear: both;
	float: left;
	width: 100%;
	padding: 70px 0 50px;
}
.portfolio-filter {
	text-align: center;
	list-style: none;
	margin-bottom:20px;
}
.portfolio-filter li.active, .portfolio-filter li:hover{
	color:#cc2128;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	}
.portfolio-filter li {
	display: inline-table;
	text-transform: uppercase;
	font-size: 13px;
	font-weight:900;
	padding: 8px;
	margin: 0 5px 10px;
	cursor: pointer;
	position: relative;	
}
.portfolio-filter li:after {
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.portfolio-filter li.active:after {
	width: 100%;
}
.work-popup {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 30px auto;
	left: 0!important;
}
.work-popup img {
	width: 100%;
	height: 100%;
}

.mfp-close-btn-in .mfp-close {
	position: absolute;
	background: #fff;
	font-size: 40px;
	width: 50px;
	height: 50px;
	opacity: 1;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}
.portfolio-item-content {
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.portfolio-item-content img {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
}

.portfolio-item-content:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.portfolio-item-description {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    width: 100%;
}

.portfolio-item-content:hover .portfolio-item-description {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-item-description ul {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.portfolio-item-description i {
	font-size: 25px;
	top: 20px;
	font-weight: 700;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	color: #777;
	background: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.portfolio-item-description i:hover {
    color: #cc2128;
}

.portfolio-item-description a {
    border-radius: 50px;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.portfolio-item-description > h6 {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
}

.portfolio-item-content:hover .portfolio-item-description h6 {
    bottom: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-filter {
    margin-bottom: 10px;
}

.portfolio-filter a {
    background-color: #f01e4a;
    border-radius: 50px;
    color: #f5f5f5;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3px 15px;
    text-transform: uppercase;
}
.portfolio-item-description{
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/*
================================================
12. Client
================================================
*/
.client{
background-color:#f1f1f1;
padding:60px 0px;
}
/** client logos **/
#clients {
  display: block;
}

#clients  img:hover {
	opacity: 0.5;;
}
.client-img {
    padding-top: 10px;
}


/** clearfix **/
.clearfix2:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix2 { display: inline-block; }
/*
================================================
13. Contact Us
================================================
*/
.text-danger {
    color: #f2332f;
}
.contactus {
    background: #f9f9f9;
}
.outer-box {
    width: 85%;
    margin: 0 auto;
}
.contact-us ul {
    padding: 0;
}
.contact-us li {
    color: #333;
    margin-bottom: 25px;
	display:block;
}
.contact-us li .box {
    background: #fff;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
    padding: 30px 20px;
    text-align: center;
    border-radius: 4px;
    color: #666;
    font-weight: 600;
}
.contact-us .lnr {
    display: block;
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #cc2128;
}
.form-box {
    padding: 35px 20px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 4px;
}
.contact-us input,
.contact-us textarea {
    background: none;
    border: 1px solid #dadada;
    box-shadow: none;
    height: 40px;
    color: #333;
}
.contact-us textarea {
    height: 150px;
}
.contact-us .btn-submit {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
}
.contact-us .btn-submit:hover {
    background: #333;
    color: #fff;
}/*
================================================
14. Footer
================================================
*/
footer{background-color:#cc2128;
padding: 25px 0;
    width: 100%;
    float: left;
}
footer p {
    color: #fff;
    text-align: center;
    margin: 0;
	}
	
	
/*
================================================
15. Media Quries 
================================================
*/
@media (min-width: 768px) and (max-width: 991px) {
.navigation {
	padding: 0;
}
.logo {
  float: left;
}
.menu-bg .logo {
  padding-top: 29px;
}
.navbar-toggle {
  margin-right: 0;
  margin-top: -34px;
}
.navbar-default .navbar-nav li a {
  font-size: 12px;
  padding: 23px 10px;
}
.navbar-collapse {
  margin: 6px 0 0;
}
.navigation .navbar-collapse {
	padding: 0;
}
.navbar {
	margin-top:0px;
}
.section-title h2{
line-height:40px;
}
.font-55{
font-size:30px !important;
}
.aboutus-2 h1{
padding-top:20px;
}
.feature-sec h1 {
    letter-spacing:0px;
}
div.team-cnt div {
	margin: 0 0 15px;
	text-align: center;
}
.contact-info-content p span {
	padding:8px 0 0;
	}
.contact-info-content {
	padding:36px 25px
	}
#previous {
    left: 18px !important;
    z-index: 200;
	}
#next {
    right: 18px !important;
	}	
.single-slide-item p {
    width: 100%;
    padding-top: 10px;    
}
.width-100 {
    width: 50%;
}
.img-logo{
	text-align: center !important;
}
.space{
	display: none;
}
}

@media (max-width: 767px) {
section h2 {
	font-size: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #cc2128
}
.menu-bg .navbar-toggle .icon-bar {
	background: #cc2128
}
.menu-bg .navbar-toggle {
	margin-top: -42px;
	}
.navbar-toggle {
	margin-right: 0;
	margin-top: -34px;
	border:none;	
	}
.menu-bg .navbar-collapse, .navbar-collapse {
  background: #fff none repeat scroll 0 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
	}
.navbar-default .navbar-nav li a, .menu-bg .navbar-default .navbar-nav li a {
  padding: 11px 15px;
  color:#333;
}
.menu-bg .logo {
  padding: 35px 0 10px;
}
header .navbar-nav {
  margin: 7.5px 0;
}
.navbar {
	margin: 0;
}
.navbar-brand {
	display: block;
	padding: 0;
	height: auto;
}
.navbar-default .navbar-collapse {
	float: none;
	border: none;
	box-shadow: none;
}
.banner-text h1 {
    font-size: 30px;
	line-height:30px;
}
.banner-text h3 {
	line-height:30px;
}
.font-55{
font-size:30px !important;
line-height:35px;
}
a.slide-btn {
  font-size: 14px;
  padding: 8px 16px;
  width: 120px;
}
.welcome-control {
  display: none;
}
.single-slide-item h2 {
  font-size: 80px;
  line-height: 26px;
}
.single-slide-item h2 span {
    font-size: 55px;
}
.section-title h2 {
    font-size: 26px;
    line-height: 30px;
	}
.counter {
	margin: 0 0 50px;
}
.counters {
	padding-bottom: 30px;
	margin:0;
}
div.team-cnt > div > div {
	margin: 0 0 25px;
	text-align: center;
}
.ourteam {
	padding: 66px 0 40px;
}
.feature-sec h1 {
    letter-spacing: 3px;
}
.blog-wrapper {
	padding: 65px 0 45px;
}
.callouts {
	padding: 0;
}
#previous {
    left: 40% !important;
    top: 100% !important;
}
#next{
    right: 40% !important;
    top: auto !important;
}
.single-slide-item p {
    width: 100%;
    padding-top: 10px;
}
.width-100 {
    width: 50%;
}
.img-logo{
	text-align: center !important;
}
.space{
	display: none;
}
}

